@charset "UTF-8";  /* If you have a charset declaration, it comes first */

/* annoying flexbox default */
* {
    min-width: 0;
    min-height: 0;
}

html {
    background-color: black;
    user-select: none;
    overflow: hidden;

    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    flex-grow: 1;
}

.main-container{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    .div1{
        flex: 2;
    }
    .div2{
        flex: 1;
    }

    @media(max-aspect-ratio: 1/1) {
        flex-direction: column;
        .div2 {
            flex: 3;
        }
    }
}


.col{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.againcol{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.vidclass1{
    user-select: none;
    display:none;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.buttons{
    height:100%;
    width:100%;
    font-size: 100%;
    font-weight: bold;
    background-color: rgb(69, 69, 69);
    border-color: rgb(91, 91, 91);
    border: 3%;
    user-select: none;
    user-zoom: none;
}

.labelrow{
    font-size: 100%;
    font-weight: bold;
    background-color: rgb(69, 69, 69);
    border-color: rgb(91, 91, 91);
    flex: 0.6;
}

.speeddisplay{
    height:100%;
    width:100%;
    font-size: 150%;
    font-weight: bold;
    text-align: center;

    background-color: rgb(69, 69, 69);
    border-color: rgb(91, 91, 91);
}

.aboutclass{
    font-size: 120%;
    height:100%;
    width: 100%;
    display: block;
    font-stretch: normal;
    overflow: scroll;

    color: rgb(255, 255, 255);
}

.ctrlrow1{
    display:flex;
    flex-flow: row nowrap;
    flex:2;

}

.ctrlrow2{
    display:flex;
    flex-flow: row nowrap;
    flex:1;

}

.ctrlrow2{
    display:flex;
    flex-flow: row nowrap;
    flex:0.3;

}

.ctrlrow3{
    display:flex;
    flex-flow: row nowrap;
    flex:1;

}
.ctrlrow4{
    display:flex;
    flex-flow: row nowrap;
    flex:1;

}
.ctrlrow5{
    display:flex;
    flex-flow: row nowrap;
    flex:1;
}

.ctrlrow6{
    display:flex;
    flex-flow: row nowrap;
    flex:1;
}

.ctrlrow7{
    display:flex;
    flex-flow: row nowrap;
    flex:1;
}


.ctrlrow8{
    display:flex;
    flex-flow: row nowrap;
    flex:1;
} 

.ctrlrow9{
    display:flex;
    flex-flow: row nowrap;
    flex:1;
}
